# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
.env

# Data files
*.csv
!data/*.csv

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# VSCode
.vscode/
